/bin/*
/conf/*
/docs/*
/eclipse/*
/forge/*
/jars/*
/lib/*
/logs/*
/modsrc/*
/reobf/*
/runtime/*
/temp/*

/src/common/*
/src/minecraft/*
/hey/*
/src/minecraft_server/*

!/src/common/Harmonioncraft/
!/src/minecraft/Harmonioncraft/
!/src/common/mcmod.info

*.bat
*.sh