/bin/*
/conf/*
/docs/*
/eclipse/*
/forge/*
/jars/*
/lib/*
/logs/*
/modsrc/*
/reobf/*
/runtime/*
/temp/*
/Build_Files/*

/src/common/*
/src/minecraft/*
/src/minecraft_server/*

!/resources/
!/src/common/net/Harmonioncraft/
!/src/minecraft/net/Harmonioncraft/
!/src/common/mcmod.info

*
*