/bin/*
/conf/*
/docs/*
/eclipse/*
/forge/*
/jars/*
/lib/*
/logs/*
/modsrc/*
/reobf/*
/runtime/*
/temp/*
/src - Copy/*

/src/common/cpw/*
/src/common/net/minecraft/*
/src/common/net/minecraftforge/*
/src/common/org/*

/src/common/fml_at.cfg
/src/common/forge_at.cfg
/src/common/fml_marker.cfg
/src/common/fmlversion.properties
/src/common/mcpmod.info

/src/minecraft/cpw/*
/src/minecraft/ibxm/*
/src/minecraft/net/minecraft/*
/src/minecraft/net/minecraftforge/*
/src/minecraft/paulscode/*
/src/minecraft/forge_logo.png
/src/minecraft/mcp.png
/src/minecraft/Start.java
/src/minecraft/armor/*
/src/minecraft/org/bouncycastle/crypto/*

!/src/common/net/Harmonioncraft/
!/src/minecraft/net/Harmonioncraft/
!/src/common/mcmod.info

*.bat
*.sh